{% extends "base.html.twig" %}

{% block title %}
    {{lieu.nomLieu}}
{% endblock title %}


{% block body %}
    <div class="container mt-4">
        <h2>{{lieu.nomLieu}}</h2>
            <div class="row">Note du lieu : {{(lieu.average)}}/5</div>
            <div class="row">{{lieu.typeLieu}}</div>
            <div class="row">Numéro de téléphone : {{lieu.numeroTelLieu}}</div>
            <div class="row">Email : {{lieu.emailLieu}} </div> 
            <div class="row">Url : {{lieu.urlLieu}}</div>
            <div class="row">Ajouter le : {{lieu.createdAt|date("d/m/Y")}}</div>
    </div>
{% endblock %}