{% extends "base.html.twig" %}

{% block title %}
    {{lieu.nomLieu}}
{% endblock title %}


{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-5">
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('fail') %}
        <div class="alert alert-danger mt-5">
            {{ message }}
        </div>
        {% endfor %}

        <h1>{{lieu.nomLieu}}</h1>
            <div class="row">
                <div class="col-6">
                    <div class="lieu_image mt-4">
                        <img style="max-width: 100%" src="{{ vich_uploader_asset(lieu, 'imageFile')}}" >
                    </div>
                </div>
                <div class="col-3 mt-5">
                    <p>Note : {{(lieu.average|number_format(2, '.', ','))}}/5</p>
                    <p>Type de lieu : {{lieu.typeLieu}}</p>
                    <p>Numéro de téléphone : {{lieu.numeroTelLieu}}</p>
                    <p>Email : {{lieu.emailLieu}}</p>
                    <p>Site web : <a href="">{{lieu.urlLieu}}</a></p>
                    <p>Ajouté le :  {{lieu.createdAt|date("d/m/Y")}}</p>
                </div>
                <div class="col-3 mt-5">
                    {% if app.user %}
                    <p>Vous avez aimé ce lieu ? Notez le !</p>
                    <div class="col-12 mt-4">
                        {{ form(form)}}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-4">
                    <h2>Description :</h2>
                    <p>{{lieu.description}}</p>
                </div>
            </div>
          
                   
                
                 
            
            
        
      
    </div>
{% endblock %}